/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  background-color: #42505B;
  width: 100% !important;
  height: 100% !important; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; }

.graphite {
  color: #42505B; }

.light-graphite {
  color: #9AADBA; }

.bundle-blue {
  color: #48A0DC; }

.bundle-green {
  color: #38C876; }

h4 {
  font-size: 18px;
  font-weight: 700;
  color: #48A0DC; }

.meta, p {
  font-size: 16px;
  color: #9AADBA; }

.meta {
  font-weight: 600; }

.btn-outline, .btn-filled {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block; }

.btn-outline {
  border: 1px solid #F0F3F6;
  color: #9AADBA; }

.btn-filled {
  background-color: #48A0DC;
  color: #FFF; }
  .btn-filled:hover {
    background-color: #5dabe0; }

.modal-container {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  position: relative;
  padding: 40px;
  background-color: #FFF;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto; }
  .modal-container .close {
    margin-top: -20px;
    float: right;
    width: 18px;
    height: 18px;
    background: url(images/icon-close.svg) no-repeat;
    text-indent: -9999px; }
  .modal-container header {
    margin-bottom: 20px; }
  .modal-container .enlarged-duplicate {
    position: relative; }
    .modal-container .enlarged-duplicate img {
      position: relative;
      z-index: 2;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    .modal-container .enlarged-duplicate .info {
      position: relative;
      z-index: 2;
      padding: 20px;
      border: 1px solid #F0F3F6;
      border-top: 0;
      margin-top: -3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
  .modal-container .navigation {
    margin-top: 40px; }
    .modal-container .navigation .thumbnail {
      display: inline-block;
      width: 84px;
      height: 84px;
      overflow: hidden;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      text-align: center;
      margin-right: 20px;
      position: relative;
      border: 3px solid #FFF; }
      .modal-container .navigation .thumbnail img {
        max-height: 100%; }
      .modal-container .navigation .thumbnail.select span {
        display: none;
        z-index: 200;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        background: url(images/icon-check.svg) no-repeat center center;
        background-color: rgba(0, 0, 0, 0.5); }
        .modal-container .navigation .thumbnail.select span:hover {
          background-color: rgba(0, 0, 0, 0.8); }
      .modal-container .navigation .thumbnail.selected span {
        display: block;
        background-color: #38C876; }
        .modal-container .navigation .thumbnail.selected span:hover {
          background-color: #4cce84; }
      .modal-container .navigation .thumbnail.current {
        border: 3px solid #48A0DC; }
      .modal-container .navigation .thumbnail:hover img {
        opacity: .6; }
      .modal-container .navigation .thumbnail:hover span {
        display: block; }
  .modal-container .angled-bg {
    position: absolute;
    top: -8px;
    width: 632px;
    height: 557px;
    left: -6px;
    z-index: 1;
    background: url(images/angled-bg.png) no-repeat center center; }
  .modal-container footer {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #F0F3F6; }
    .modal-container footer .btn-filled {
      float: right; }
