@import 'reset', 'sass';
html, body{
  font-family: 'Proxima Nova', sans-serif;
  font-size: 16px;
  background-color: $graphite;
  width: 100% !important;
  height: 100% !important;
}

*{
  -webkit-box-sizing: border-box; // Safari <= 5
     -moz-box-sizing: border-box; // Firefox <= 19
          box-sizing: border-box;
}

.wrapper{
  display:flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

// font-colors
.graphite{
  color: $graphite;
}

.light-graphite{
  color: $light-graphite;
}

.bundle-blue{
  color: $bundle-blue;
}

.bundle-green{
  color: $bundle-green;
}

// defaults
h4{
  font-size: 18px;
  font-weight: 700;
  color: $bundle-blue;
}

.meta, p{
  font-size: 16px;
  color: $light-graphite;
}
  .meta{
    font-weight: 600;
  }

.btn-outline, .btn-filled{
  @include border-radius();
  font-weight: 700;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
}
  .btn-outline{
    border: 1px solid $ice;
    color: $light-graphite;
  }
  .btn-filled{
    background-color: $bundle-blue;
    color: #FFF;

    &:hover{
      background-color: lighten($bundle-blue, 5)
    }
  }

// modal
.modal-container{
  @include border-radius(5px);
  position: relative;
  padding: 40px;
  background-color: #FFF;
  flex-wrap: wrap;
  width: 700px;
  margin: 0 auto;

  .close{
    margin-top: -20px;
    float: right;
    width: 18px;
    height: 18px;
    background: url(images/icon-close.svg) no-repeat;
    text-indent: -9999px;
  }

  header{
    margin-bottom: 20px;
  }

  .enlarged-duplicate{
    position: relative;

    img{
      position: relative;
      z-index: 2;
      @include border-top-radius(3px);
    }

    .info{
      position: relative;
      z-index: 2;
      padding: 20px;
      border: 1px solid $ice;
      border-top: 0;
      margin-top: -3px;
      @include border-bottom-radius(3px);
    }
  }

  .navigation{
    margin-top: 40px;

    .thumbnail{
      display: inline-block;
      width: 84px;
      height: 84px;
      overflow: hidden;
      @include border-radius(6px);
      text-align: center;
      margin-right: 20px;
      position: relative;
      border: 3px solid #FFF;

      img{
        max-height: 100%;
      }

      &.select span{
        display: none;
        z-index: 200;
        position: absolute;
        top: 5px;
        right: 5px;
        width: 20px;
        height: 20px;
        @include border-radius(50%);
        background: url(images/icon-check.svg) no-repeat center center;
        background-color: rgba(0, 0, 0, .5);

        &:hover{
          background-color: rgba(0, 0, 0, .8);
        }
      }

      &.selected span{
        display: block;
        background-color: $bundle-green;

        &:hover{
          background-color: lighten($bundle-green, 5);
        }
      }

      &.current{
        border: 3px solid $bundle-blue;
      }

      &:hover{
        img{
          opacity: .6;
        }
        span{
          display: block;
        }
      }
    }


  }

  .angled-bg{
    position: absolute;
    top: -8px;
    width: 632px;
    height: 557px;
    left: -6px;
    z-index: 1;
    background: url(images/angled-bg.png) no-repeat center center;
  }

  footer{
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid $ice;

    .btn-filled{
      float: right;
    }
  }

}
